* {
    padding: 0;
    margin: 0;
    border: 0;
}/*
hr {
    height:10px;
  }*/
  #example{

    height: 30px;
  }
#container{
    width:90%;
    margin: 0 auto; 
   /*border: 3px solid green;*/
    height: 100vh;
}
#containerhedar{
    width:90%;
    margin: 0 auto; 
  /*  border: 3px solid green;*/

}
#containerbanner{
    width:90%;
    margin: 0 auto; 
  /*  border: 3px solid green;*/

}

#containertabla{
  width:90%;
  margin: 0 auto; 
 /* border: 3px solid green;*/
  height: 30px;
}